{% extends 'mainapp/base.html' %}

{% block style %}
    <style>
       .fit-nav{
            width:fit-content; 
            margin: 10px auto; 
            background-color: khaki; 
            padding: 2px 30px;
        }
        .fit-link{
            padding: 5px 10px;
            font-size: 18px;
        }
    </style>
{% endblock style %}

{% block content %}

    <div class="container">
        {% include 'myCalendar/nav.html' %}
        <h1 class="text-center">{{ today }}</h1>
    </div>
{% endblock content %}