{% extends 'mainapp/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'assets/css/draft.css' %}">
{% endblock style %}

{% block content %}
    <div class="container">
        <div class="controls mt-3 mb-3">
            <button class="btn btn-outline-info" onclick="openNewGame()">Start</button>
            <button class="btn btn-outline-info" onclick="">Settings</button>
            <button class="btn btn-outline-info" onclick="">Instructions</button>
            <button class="btn btn-outline-info" onclick="">Statistics</button>
        </div>
        <div class="draft" id="draft">
            <div class="draft-row default" id="r_8">
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_32"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_31"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_30"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_29"></div>
            </div>
            <div class="draft-row default" id="r_7">
                <div class="draft-gap host" id="g_28"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_27"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_26"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_25"></div>
                <div class="draft-gap"></div>
            </div>
            <div class="draft-row default" id="r_6">
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_24"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_23"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_22"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_21"></div>
            </div>
            <div class="draft-row" id="r_5">
                <div class="draft-gap host" id="g_20"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_19"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_18"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_17"></div>
                <div class="draft-gap"></div>
            </div>
            <div class="draft-row" id="r_4">
                <div class="draft-gap"></div>
                <div class="draft-gap host"  id="g_16"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_15"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_14"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_13"></div>
            </div>
            <div class="draft-row default" id="r_3">
                <div class="draft-gap host" id="g_12"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_11"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_10"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_9"></div>
                <div class="draft-gap"></div>
            </div>
            <div class="draft-row default" id="r_2">
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_8"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_7"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_6"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_5"></div>
            </div>
            <div class="draft-row default" id="r_1">
                <div class="draft-gap host" id="g_4"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_3"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_2"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_1"></div>
                <div class="draft-gap"></div>
            </div>
        </div>
    </div>    
{% endblock content %}

{% block javascript %}
    <script src="{% static 'assets/js/draft.js' %}"></script>
{% endblock javascript %}