{% extends 'mainapp/base.html' %}

{% block style %}
    <style>
        .draft{
            height: 70vh;
            grid-gap: 0px;
            margin-top: 5px;
            margin-bottom: 5px;
            
        }
        .draft-row{
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            height: 8.75vh;
        }
        .draft-gap{
            border: 1px solid #ccc;
        }
        .host{
            background-color: #ccc;
        }

        .peke{
            height: 8.75vh;
            clip-path: circle();
            position: relative;
        }
        
        div[player='pa']{
            background-color: rgb(46, 6, 83);
        }

        div[player='pb']{
            background-color: burlywood;
        }
        .hovered{
            border: cadetblue 2px dashed;
        }

        .invicible{
            display: none;
        }
        
    </style>
{% endblock style %}

{% block content %}
    <div class="container">
        <div class="controls mt-3">
            <button class="btn btn-outline-info" onclick="openNewGame()">Start</button>
            <button class="btn btn-outline-info" onclick="resumeGame()">Resume Game</button>
        </div>
        <div class="draft" id="draft">
            <div class="draft-row default" id="r_8">
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_32"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_31"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_30"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_29"></div>
            </div>
            <div class="draft-row default" id="r_7">
                <div class="draft-gap host" id="g_28"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_27"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_26"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_25"></div>
                <div class="draft-gap"></div>
            </div>
            <div class="draft-row default" id="r_6">
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_24"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_23"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_22"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_21"></div>
            </div>
            <div class="draft-row" id="r_5">
                <div class="draft-gap host" id="g_20"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_19"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_18"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_17"></div>
                <div class="draft-gap"></div>
            </div>
            <div class="draft-row" id="r_4">
                <div class="draft-gap"></div>
                <div class="draft-gap host"  id="g_16"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_15"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_14"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_13"></div>
            </div>
            <div class="draft-row default" id="r_3">
                <div class="draft-gap host" id="g_12"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_11"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_10"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_9"></div>
                <div class="draft-gap"></div>
            </div>
            <div class="draft-row default" id="r_2">
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_8"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_7"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_6"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_5"></div>
            </div>
            <div class="draft-row default" id="r_1">
                <div class="draft-gap host" id="g_4"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_3"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_2"></div>
                <div class="draft-gap"></div>
                <div class="draft-gap host" id="g_1"></div>
                <div class="draft-gap"></div>
            </div>
        </div>
    </div>    
{% endblock content %}

{% block javascript %}
    <script>
        $(document).ready(function(){
        })

        class Peke{
            constructor(player){
                this.player = player;
            }
            create = () => {
                const div = document.createElement('div');
                div.className = 'peke';
                div.setAttribute('player', this.player);
                div.setAttribute('onclick', 'javascript:setToMove(this)');
                div.draggable = true;

                return div;
            }
        }
        //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        //                      START THE GAME.
        function openNewGame(){
            pa = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
            pb = [32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21]
            for(i of pa){
                gap = document.getElementById(setId('g', i));
                peke = new Peke('pa');
                gap.innerHTML = peke.create().outerHTML;
            }

            for(i of pb){
                gap = document.getElementById(setId('g', i));
                peke = new Peke('pb');
                gap.innerHTML = peke.create().outerHTML
            }
            
        }

        function resumeGame(){
            if(localStorage.getItem('state')){
                document.querySelector('.draft').innerHTML = localStorage.getItem('state')
            }else{
                alert("There isn't any Histories of the game!")
            }
        }

        //
        //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        //                      INITIATE A MOVE
        function setToMove(target){
            if(canMove(target.getAttribute('player'), target.parentElement.id)){
                curent_gap = target.parentElement;
                curent_gap_id = curent_gap.id;
                player = target.getAttribute('player')
                if(localStorage.getItem('player')){
                    if(player == localStorage.getItem('player')){
                        localStorage.setItem('curent_gap', curent_gap_id);
                        localStorage.setItem('player', player);

                        console.log(target.parentElement.id)
                    }else{
                        console.log('Please for the other player to make a move')
                    }
                }else{
                    localStorage.setItem('curent_gap', curent_gap_id);
                    localStorage.setItem('player', player);

                    console.log(target.parentElement.id)
                }
                
            }else{console.log('This Peke can not move!');}
            
        }
        //
        //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        //                      MAKE A MOVE
        const hosts = document.querySelectorAll('.host');
        for(const host of hosts){
            host.addEventListener('click', moveHere)
        }
        function moveHere(){
            
            player = localStorage.getItem('player');
            last_gap = localStorage.getItem('curent_gap')
            id = this.id
            if(player && last_gap){
                if(validgaps(last_gap,player).includes(id)){
                    peke = new Peke(player);
                    this.append(peke.create())
                    document.getElementById(last_gap).innerHTML = '';
                    
                    localStorage.removeItem('player');
                    localStorage.removeItem('curent_gap');
                    localStorage.setItem('state', document.querySelector('.draft').innerHTML);
                }
            }else{
                console.log('There is no peke ready to be moved, please select one and try again')
            }
        }
        function validgaps(gap_id, player){
            from_gap = document.getElementById(gap_id);
            int = getInt(gap_id);
            index = getChildIndex(from_gap);

            //modify this to check whether the gaps are empty before we push to array
            gaps = []
            empties = []
            if(index > 0 && index < 7){
                if(player == 'pa'){
                    gaps = [setId('g', (int + 4)), setId('g', (int + 5))]
                }else if(player == 'pb'){
                    gaps = [setId('g', (int - 4)), setId('g', (int - 5))]
                }else{
                    console.log('Undefined Player')
                }
            }else if(index == 0 || index == 7){
                if(player == 'pa'){
                    gaps = [setId('g', (int + 4))]
                }else if(player == 'pb'){
                    gaps = [setId('g', (int - 4))]
                }else{
                        console.log('Undefined Child index')
                }
            }
            for(const gap of gaps){
                elm = document.getElementById(gap);
                if(elm.innerHTML == ''){empties.push(gap);}else{}
            }
            return empties;
        }
        //
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        //              HELPER FUNCTIONS
        function canMove(player, gap_id){
            options = validgaps(gap_id, player);
            return options.length > 0;
        }
        function getChildIndex(child) {
            cs = child.parentElement.children// get all the siblings to the child
            index = undefined//declare the index and set it to undefined
            for(c in cs){// loop through all the children until we find a child that is equal to the child
                tar = cs[c]
                if(tar == child){
                    index = c;
                    break;
                }
            }
            return parseInt(index)
        }
        function setId(str, i){
            return str + '_' + i;
        }
        function getInt(str){
            i = str.split('_')[1];
            if(isNaN(i)){
                return undefined;
            }else{
                return parseInt(i);
            }
        }
    </script>
{% endblock javascript %}