{% extends 'mainapp/base.html' %}
{% load static %}

{% block style %}
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
    .t-wra>h1, .t-wra>h2, .t-wra>h3, .t-wra>h4, .t-wra>h5, .t-wra>h6{
      color: #eee;
    }
    .one, .two, .three, .four{
      min-height: 60vh;
      position: relative;
      margin: 0;
      
    }
    .one{
      min-height: 95vh;
      background-image: url('static/imgs/naturebac1.jpeg');
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 0;
    }

    .two{
      padding-top: 20px;
      /* border-radius: 0 0 0 30%; */
      background-color: #fff;
    }

    .three{
      background-color: lightseagreen;
    }

    .btn-icon{
      min-height: 200px;
      padding: 10px 0;
      border-radius: 10px 10px 0 0;
      background-image: linear-gradient(to bottom, rgb(19, 195, 226, .3) , transparent);
    }

    .btn-icon p{
      font-size: 20px;
      color: darkslategray;
      font-weight: bolder;
    }

    @keyframes slidein{
      from{
        visibility: hidden;
        margin-top: -50px;

      }
      to{
        visibility: visible;margin: 5px;
      }
    }

    .icon{
      display: grid;
      place-items: center;

      font-size: 36px;
      margin: auto;
      /* clip-path: circle(); */
    }
     .icon i>img{
       max-height: 100px;
     }
    .four{
        background-color: lightslategrey;
    }
    .img{
      width: 500px;
      height: 250px;
      margin: auto;
    }
    .slanted{
      display: grid;
      place-items: center;
      height: 87vh;
      background-color: rgb(241, 237, 237, .3);
      clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
      color:  #ffffff;
    }
    .grid-center{
      display: grid;
      place-items: center;
      border: rgb(28, 41, 70, .7) 8px solid;
      height: 50vh;
      width: 90vmin;
      margin: 10vmin auto;
      border-radius: 15px 15px 0 0;
      background-color: rgb(119, 109, 184, .5);
    }
    .txt{
      font-family: 'Playfair Display', serif;
      font-weight: bolder;
    }
    .btn-start{
      border: cyan 4px solid;
      color: cyan;
      font-size: large;
      font-weight: bolder;
      padding: 20px;
      border-radius: 4px;
      background-color: transparent;
      text-align: center;
      min-width: 20vw;
    }
    .btn-start:hover{
      background-color: cyan;
      color: rgb(150, 143, 143);
      transition-duration: 1s;
      transition-property: background-color, color;
    }
    .col-sm-3{
      margin: 0 auto;
    }
    .a-pinter::after{
      left: 50%;
      transform: skew(0, 50deg);
    }
    .a-pinter::before{
      right: 50%;
      transform: skew(0, -50deg);
    }

    .a-pinter::after,
    .a-pinter::before{
      position:absolute;
      content: '';
      height: 10px;
      width: 10px;
      background-color: red;
      top: -5px;
      z-index: 100;
    }
  </style>
{% endblock style %}

{% block content %}
  <section class="one">
    <div class="slanted">
      <div>
        <h1 class="text-center txt">Solutions Center</h1>
        <h4 class="txt2 text-center" style="padding: 10px;">Let's get that solution for company or bussinesss</h4>
        <div class="grid-center">
          <button class="btn-start">Get started</button>
        </div>
      </div>
    </div>
  </section>

  <section class="two">
    <div class="container-fluid">
      <h2 class="text-center text-primary">
        Looking for a solution?
      </h2>
      <p class="text-center">
        Here are systems that could really make your work easy, take a look <br>
        <a href="" class="btn btn-outline-success mt-2">See all Apps and Solutions</a>
      </p>
      <hr>

      <div class="row">
        {% for solution in solutions %}
          <div class="col-sm-3">
            <a href="{% if solution.done %} {% url solution.name %} {% endif %}">
              <div class="btn-icon">
                <button class="btn icon btn-outline-info btn-lg">
                  <i><img src="static/icons/{{ solution.name }}.png" alt=""></i>
                </button>
                <p class="text-center" style="text-transform: uppercase;">{{ solution.name }}</p><hr>
                <div class="alert alert-info text-center ml-2 mr-2" role="alert">
                  {{ solution.description }}<br>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <hr>
  </section>

  <section class="three">
  </section>

  <section class="four">
    
  </section>

  <!-- <div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="static/imgs/lang-logo.png">
    </a>
    <h1>ASUBO SYSTEMS DEVELOPMENT</h1>
    <p>Equiped, Focuesd and Determined team of software engineers just waiting for your imagination to turn it into a real world problem solving system</p>
    <a type="button" class="btn btn-lg btn-info" href="">Getting Started with Asubo</a>
    <a type="button" class="btn btn-lg btn-primary" href="">Get us on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="#" class="alert-link">Getting Started with Python on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/python-getting-started">Heroku Button</a> on the repository.</li>

        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/python-getting-started/blob/master/Pipfile">Pipfile</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
        <ul>
          <li><code>git clone https://github.com/heroku/python-getting-started.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd python-getting-started</code> - change directory into the local source code repository</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-python#push-local-changes">deploy changes</a> to Heroku</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/django-app-configuration">Configuring Django Apps for Heroku</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <!-- <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div> -->
<!-- </div> --> 
{% endblock %}
